
<div [formGroup] = "formProject" class="margin">
    <h2>Progetti</h2>

    <mat-form-field appearance="fill">
        <mat-label for="code">Codice Progetto</mat-label>
        <input matInput type="number" formControlName="code">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label for="desc">Descrizione</mat-label>
        <textarea matInput formControlName="desc"></textarea>
    </mat-form-field>

    <button mat-raised-button color="warn" (click) = "toIndietro()">Indietro</button>
    <button mat-raised-button color="primary" (click) = "toAvanti()" [disabled]="!formProject.valid">Salva</button>
    
</div>