
<div [formGroup] = "anagraficaForm" class="margin">
    <h2>Anagrafica</h2>

    <mat-form-field appearance="fill">
        <mat-label for="name">Nome</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="type">Tipo di Cliente</mat-label>
        <input matInput type="text" formControlName="type">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="city">Città</mat-label>
        <input matInput type="text" formControlName="city">
    </mat-form-field>

    <button mat-raised-button color="warn" (click) = "toIndietro()">Indietro</button>
    <button mat-raised-button color="primary" (click) = "toSave()" [disabled]="!anagraficaForm.valid">Salva</button>

</div>
