
<div class="intestazione">
    <h2>Lista Tipi di Attività</h2>
    <div>
        <button (click) = "resetActivity()" >Reset</button>  
        <button (click) = "newTypeActivity()" >Aggiungi</button>
    </div>
</div>
<div class="tabella">
    <table >
        <thead>
            <tr>
              <th>Identity</th>
              <th>Codice Attività</th>
              <th class="desc">Descrizione</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.identity}}</td>
                <td>{{row.code}}</td>
                <td class="desc">{{row.desc}}</td>
                <td class="bt_list">
                    <button (click)="editType(row)">Modifica</button>
                    <button (click)="deleteType(row)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>