<div [formGroup] = "activityForm" class="margin">
    <h2>Attività svolta</h2>
    <div class="form">
        <div class="flex">
            <div class="cq">
                <label for="customer">Nome:</label>
                <select formControlName="customer">
                    <option *ngFor="let row of rows" value="{{row.name}}">{{row.name}}</option>
                </select>  
            </div>
            <div class="cq">
                <label for="activity">Tipo di Attività:</label>
                <select formControlName="activity">
                    <option *ngFor="let car of cars" value="{{car.code}}">{{car.code}}</option>
                </select>  
            </div>
        </div>
        <div class="flex">
            <div class="cq">
                <label for="project">Progetto:</label>
                <select formControlName="project">
                    <option *ngFor="let eye of eyes" value="{{eye.code}}">{{eye.code}}</option>
                </select>  
            </div>
            <div class="cq">
                <label for="date">Data:</label>
                <input type="date" formControlName="date">
            </div>
        </div>
        <div class="flex">
            <div class="cq">
                <label for="hours">Quantità ore:</label>
                <input type="number" formControlName="hours" min="1">
            </div>
            <div class="cq">
                <textarea formControlName="desc" placeholder="Descrizione.." class="desc"></textarea>
            </div>
        </div>
        <div class="bt">
            <button (click) = "toIndietro()">Indietro</button>
            <button (click) = "toSave()" [disabled]="!activityForm.valid">Salva</button>
        </div>
    </div>
</div>