
body{
    height: 100vh;
}

div.intestazione{
    margin-bottom: 20px;
}

.wt{
    background-color: #ffffff;
    padding: 30px 25px;
}

div.rev button{
    margin-top: 10px;
    float: right;
    margin-left: 12px;
}

.bt_int{
    align-items: center;
}

.bt_int button{
    float: right;
    margin-left: 12px;
}

button.bt_list{
    padding: 0 10px;
    font-size: 12px;
    float: right;
}