<div class="intestazione">
    <h2>Lista Progetti</h2>
    <div>  
        <button (click) = "resetProject()" >Reset</button>
        <button (click) = "newProject()" >Aggiungi</button>
    </div>
</div>
<div class="tabella">
    <table >
        <thead>
            <tr>
              <th>Identity</th>
              <th>Codice</th>
              <th class="desc">Descrizione</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.identity}}</td>
                <td>{{row.code}}</td>
                <td class="desc">{{row.desc}}</td>
                <td class="bt_list">
                    <button (click)="editProject(row)">Modifica</button>
                    <button (click)="deleteProject(row)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>