
table{
    width: 100%;
    th{
        width: calc(100% / 9);
    }
}

div.puntini{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}