
h2{
    display: inline-block;
    margin-right: 30px;
}

img{
    height: 20px;
}

table{
    width: 100%;
    th{
        width: calc(100% / 10);
    }
}

.puntini{
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.puntini:hover{
    white-space: normal;
}