<div class="intestazione">
    <h2>Lista Attività</h2>
    <div>
        <button (click) = "resetActivity()" >Reset</button> 
        <button (click) = "newActivity()" >Aggiungi</button>
    </div>
</div>
<div class="tabella">
    <table >
        <thead>
            <tr>
                <th class="identity">Identity</th>
                <th>Cliente</th>
                <th>Attivita</th>
                <th>Progetto</th>
                <th class="data">Data</th>
                <th class="hours">Quantità ore</th>
                <th class="desc">Descrizione</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.identity}}</td>
                <td>{{row.customer}}</td>
                <td>{{row.activity}}</td>
                <td>{{row.project}}</td>
                <td>{{row.date}}</td>
                <td>{{row.hours}}</td>
                <td class="desc">{{row.desc}}</td>
                <td class="bt_list">
                    <button (click)="editActivity(row)">Modifica</button>
                    <button (click)="deleteActivity(row)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>