
table{
    width: 100%;
    th{
        width: calc(100% / 9);
    }
}

.puntini{
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.puntini:hover{
    white-space: normal;
}