
<div [formGroup] = "typeForm" class="margin">
    <h2>Tipo di Attività</h2>
    <div class="form">
        <div class="flex">
            <div class="cq">
                <label for="code">Codice Attività:</label>
                <input type="number" formControlName="code">
            </div>
            <div class="cq">
                <textarea type="text" formControlName="desc" placeholder="Descrizione.." class="desc"></textarea>
            </div>
        </div>
        <div class="bt">
            <button (click) = "toIndietro()">Indietro</button>
            <button (click) = "toAvanti()" [disabled]="!typeForm.valid">Salva</button>
        </div>
    </div>
</div>