<div class="intestazione">
    <h2>Lista Anagrafiche</h2>
    <div>
        <button (click) = "resetAnagrafica()" >Reset</button>  
        <button (click) = "newAnagrafica()" >Aggiungi</button>
    </div>
</div>
<div class="tabella">
    <table >
        <thead>
            <tr>
              <th class="identity">Identity</th>
              <th>Cliente</th>
              <th>Tipo di cliente</th>
              <th>Città</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.identity}}</td>
                <td>{{row.name}}</td>
                <td>{{row.type}}</td>
                <td>{{row.city}}</td>
                <td class="bt_list">
                    <button (click)="editAnagrafica(row)">Modifica</button>
                    <button (click)="deleteAnagrafica(row)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>